In [1]:
# Danielle Bovie
# BSC4452
# Problem Set 3

import pandas as pd

Problem 1

In [2]:
my_file = open("/ufrc/bsc4452/share/Class_Files/data/CO-OPS__8729108__wl.csv", "r") # importing the file my way
data = my_file.readlines()

date = []  # will be a list of date/times
level = []  # will be a list of water levels
for i in range(423):  # I actually never use pd and copy and paste this for loop all the time
    line = data[i+1]
    elements = line.split(",")
    date.append(str(elements[0]))
    level.append(float(elements[1]))
for i in range(424, 725):  # There was a date without a water level (Why??) 
    line = data[i+1]       # The second for loop alows that element to be skipped
    elements = line.split(",")
    date.append(str(elements[0]))
    level.append(float(elements[1]))
max_level = max(level)  # takes the max
position = level.index(max_level) # finds the position of the max value
max_date = date[position] # uses that position to find the date/time
print("The max water level was", max_level, "on", max_date)

The max water level was 6.647 on 2018-10-10 18:06

Problem 2

In [3]:
df = pd.read_csv("/ufrc/bsc4452/share/Class_Files/data/CO-OPS__8729108__wl.csv")  # importing the file with pd

In [4]:
df  # How pd displays the data

            Date Time   Water Level   Sigma   O   F   R   L  Quality
0    2018-10-09 00:00         2.421   0.036   1   0   0   0         p
1    2018-10-09 00:06         2.454   0.036   1   0   0   0         p
2    2018-10-09 00:12         2.461   0.036   1   0   0   0         p
3    2018-10-09 00:18         2.444   0.036   1   0   0   0         p
4    2018-10-09 00:24         2.431   0.036   0   0   0   0         p
..                ...           ...     ...  ..  ..  ..  ..       ...
720  2018-10-12 00:00         2.192   0.026   1   0   0   0         p
721  2018-10-12 00:06         2.195   0.023   1   0   0   0         p
722  2018-10-12 00:12         2.201   0.023   0   0   0   0         p
723  2018-10-12 00:18         2.198   0.023   1   0   0   0         p
724  2018-10-12 00:24         2.218   0.023   1   0   0   0         p

[725 rows x 8 columns]

In [5]:
index = df.index
columns = df.columns
values = df.values
date_1 = df['Date Time']  # list of dates/times
level_1 = df[' Water Level']  # list of water levels
# I do acknowledge that pd makes this easier if you were writing the for loop from scratch
max_level_1 = max(level_1)  # takes the max
position_1 = level.index(max_level_1)  # finds the position of the max value
max_date_1 = date[position_1] # uses that position to find the date/time
print("The max water level was", max_level_1, "on", max_date_1)

The max water level was 6.647 on 2018-10-10 18:06

Problem 3

In [6]:
delta_level = [] # will be list of water level changes
for i in range(723):
    change = level[i+1]-level[i]
    delta_level.append(change)

In [7]:
max_delta = max(delta_level) # finds max change in water level
max_delta_t1 = date[delta_level.index(max_delta)]  # beginning of time range
max_delta_t2 = date[delta_level.index(max_delta)+1] # end of time range

In [8]:
print("The max change in water level was between", max_delta_t1, "and", max_delta_t2, "with a change of", max_delta)

The max change in water level was between 2018-10-10 17:36 and 2018-10-10 17:42 with a change of 0.6400000000000006

In [9]:
# I could have rounded that number to be prettier, but we will stick to accuracy