In [14]:
import pandas as pd
import sqlite3

In [15]:
df = pd.read_csv('MSFT.csv')  # importing the file with pd

In [16]:
df

            Date        Open        High  ...       Close   Adj Close    Volume
0     2000-01-03   58.687500   59.312500  ...   58.281250   42.641369  53228400
1     2000-01-04   56.781250   58.562500  ...   56.312500   41.200928  54119000
2     2000-01-05   55.562500   58.187500  ...   56.906250   41.635361  64059600
3     2000-01-06   56.093750   56.937500  ...   55.000000   40.240646  54976600
4     2000-01-07   54.312500   56.125000  ...   55.718750   40.766510  62013600
...          ...         ...         ...  ...         ...         ...       ...
4629  2018-05-29   97.839996   98.879997  ...   98.010002   98.010002  28671000
4630  2018-05-30   98.309998   99.250000  ...   98.949997   98.949997  21829700
4631  2018-05-31   99.290001   99.989998  ...   98.839996   98.839996  34140900
4632  2018-06-01   99.279999  100.860001  ...  100.790001  100.790001  28655600
4633  2018-06-04  101.260002  101.860001  ...  101.669998  101.669998  27166800

[4634 rows x 7 columns]

In [17]:
Date= df['Date']
Open= df['Open']
High= df['High']
Low=df['Low']
Close= df['Close']
Adj_Close=df['Adj Close']
Volume= df['Volume']

# Problem 1

In [18]:
# metadata = {"About": "stock data", "Company": "Microsoft"}
# md_file = "MSFT_metadata.md"
# with open(md_file, 'w') as f:
#     f.write("foobar")
# import json
# with open(md_file, 'w') as f:
#     json.dump(metadata, f)

See the MSFT_metadata.md file

# Problem 2

I would re-organize the columns: Date, High, Low, Open, Close, Adj_Close, Volume

I would also slit up the file into multiple tables by 5 year periods, right now the file contains 18 and a half years worth of data and it might be easier to split it up into smaller chunks and look at a particular set of years

# Problem 3

In [19]:
conn = sqlite3.connect('MSFT.sqlite')
cur = conn.cursor()

cur.execute ('DROP TABLE IF EXISTS Microsoft_Stocks2000_04')
cur.execute ('CREATE TABLE Microsoft_Stocks2000_04 (Date TEXT, High INTEGER, Low INTEGER, Open INTEGER, Close INTEGER, Adj_Close INTEGER, Volume INTEGER)')

cur.execute ('DROP TABLE IF EXISTS Microsoft_Stocks2005_09')
cur.execute ('CREATE TABLE Microsoft_Stocks2005_09 (Date TEXT, High INTEGER, Low INTEGER, Open INTEGER, Close INTEGER, Adj_Close INTEGER, Volume INTEGER)')

cur.execute ('DROP TABLE IF EXISTS Microsoft_Stocks2010_14')
cur.execute ('CREATE TABLE Microsoft_Stocks2010_14 (Date TEXT, High INTEGER, Low INTEGER, Open INTEGER, Close INTEGER, Adj_Close INTEGER, Volume INTEGER)')

cur.execute ('DROP TABLE IF EXISTS Microsoft_Stocks2015_18')
cur.execute ('CREATE TABLE Microsoft_Stocks2015_18 (Date TEXT, High INTEGER, Low INTEGER, Open INTEGER, Close INTEGER, Adj_Close INTEGER, Volume INTEGER)')

conn.close()

# Problem 4

In [20]:
conn = sqlite3.connect('MSFT.sqlite')
cur = conn.cursor()

for i in range(1256):
    cur.execute('INSERT INTO Microsoft_Stocks2000_04 (Date, High, Low, Open, Close, Adj_Close, Volume) VALUES (?, ?, ?, ?, ?, ?, ?)',
           (Date[i], High[i], Low[i], Open[i], Close[i], Adj_Close[i], Volume[i]))
for i in range(1256, 2515):
    cur.execute('INSERT INTO Microsoft_Stocks2005_09 (Date, High, Low, Open, Close, Adj_Close, Volume) VALUES (?, ?, ?, ?, ?, ?, ?)',
           (Date[i], High[i], Low[i], Open[i], Close[i], Adj_Close[i], Volume[i]))

for i in range(2515, 3733):
    cur.execute('INSERT INTO Microsoft_Stocks2010_14 (Date, High, Low, Open, Close, Adj_Close, Volume) VALUES (?, ?, ?, ?, ?, ?, ?)',
           (Date[i], High[i], Low[i], Open[i], Close[i], Adj_Close[i], Volume[i]))
    
for i in range(3773, 4634):
    cur.execute('INSERT INTO Microsoft_Stocks2015_18 (Date, High, Low, Open, Close, Adj_Close, Volume) VALUES (?, ?, ?, ?, ?, ?, ?)',
           (Date[i], High[i], Low[i], Open[i], Close[i], Adj_Close[i], Volume[i]))
    
conn.commit()

cur.close()